@font-face {
    font-family: 'my2cents';
    src: url('/my2cents/fonts/my2cents.eot');
    src: url('/my2cents/fonts/my2cents.eot?#iefix') format('embedded-opentype'),
         url('/my2cents/fonts/my2cents.woff') format('woff'),
         url('/my2cents/fonts/my2cents.ttf') format('truetype'),
         url('/my2cents/fonts/my2cents.svg#my2cents') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="m2c-icon-"]:before, [class*=" m2c-icon-"]:before {
  font-family: "my2cents";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* authentication buttons */
.m2c-icon-local:before {
  content: var(--glyph-user-alt);
}

.m2c-local:hover {
  color: red;
}

.m2c-icon-twitter:before {
  content: var(--glyph-twitter);
}

.m2c-twitter:hover {
  color: var(--twitter-blue);
}

.m2c-icon-github:before {
  content: var(--glyph-github);
}

.m2c-github:hover {
  color: var(--pure-white);
}

.m2c-icon-facebook:before {
  content: var(--glyph-facebook);
}

.m2c-facebook:hover {
  color: var(--facebook-blue);
}

.m2c-icon-google:before {
  content: var(--glyph-google);
}

.m2c-google:hover {
  color: var(--pure-white);
}

.m2c-icon-instagram:before {
  content: var(--glyph-instagram);
}

.m2c-instagram:hover {
  color: var(--pure-white);
}

.m2c-icon-linkedin:before {
  content: var(--glyph-linkedin);
}

.m2c-linkedin:hover {
  color: var(--linkedin-blue);
}

.m2c-icon-signout:before {
  content: var(--glyph-sign-out-alt);
}

.m2c-signout:hover {
  color: red;
}

/* administrator actions */
.m2c-icon-mute:before {
  content: var(--glyph-volume-mute);
}

.m2c-mute:hover {
  color: var(--red);
}

.m2c-icon-unmute:before {
  content: var(--glyph-volume-up);
}

.m2c-unmute:hover {
  color: var(--green);
}

.m2c-icon-trust:before {
  content: var(--glyph-user-plus);
}

.m2c-trust:hover {
  color: var(--green);
}

.m2c-icon-block:before {
  content: var(--glyph-user-slash);
}

.m2c-block:hover {
  color: var(--red);
}

.m2c-icon-approve:before
{
  content: var(--glyph-comment-medical);
}

.m2c-approve:hover
{
  color: var(--green);
}

.m2c-icon-reject:before
{
  content: var(--glyph-comment-slash);
}

.m2c-reject:hover
{
  color: var(--red);
}

/* user actions */
.m2c-icon-add-comment:before {
  content: var(--glyph-comments);
}

.m2c-icon-reply:before {
  content: var(--glyph-reply);
}

.m2c-icon-edit:before
{
  content: var(--glyph-edit);
}

.m2c-icon-preview:before
{
  content: var(--glyph-file-alt);
}

.m2c-add-comment:hover,
.m2c-reply:hover,
.m2c-preview:hover,
.m2c-edit:hover
{
  color: var(--pure-white);
}

.m2c-icon-post:before
{
  content: var(--glyph-check);
}

.m2c-post:hover
{
  color: var(--green);
}

.m2c-icon-cancel:before
{
  content: var(--glyph-times);
}

.m2c-cancel:hover
{
  color: var(--red);
}

.m2c-button {
  padding: 5px;
  border-color: var(--whitegrey);
  background: var(--midgrey);
  color: var(--whitegrey);
  border-radius: 5px;
}

.m2c-button:hover {
  background: var(--darkgrey);
}
