<% data.comments.forEach((comment) => { %>
  <article id="comment-<%= comment.id %>" data-id="<%= comment.id %>" class="m2c-comment<% if (!comment.approved && !comment.trusted) { %> m2c-not-approved<% } %>">
    <header class="m2c-comment-header">
      <div class="m2c-author-card">
        <div class="m2c-author-actions">
          <% if (data.user && data.user.admin && !comment.authorTrusted) {
            ['trust', 'block'].forEach((action) => {
          %>
            <button class="m2c-button m2c-admin-action m2c-<%= action %>" data-target="<%= comment.authorId %>" data-class="user" data-action="<%= action %>">
              <i class="icon m2c-icon-<%= action %>"></i>
              <span>
                <%= action %>
              </span>
            </button>
          <% }); } %>
        </div>
        <% if (data.user && data.user.admin && !comment.authorTrusted) { %>
          <div class="m2c-author m2c-needs-admin-action">
        <% } else { %>
          <div class="m2c-author">
        <% } %>
          <% if (comment.authorUrl) { %>
            <a href="<%= comment.authorUrl %>" target="_blank">
          <% } %>

          <%= comment.author %>
          <% if (comment.authorUrl) { %>
            </a>
            <% } %>
        </div>
      </div>
      <div class="m2c-date">
        <%= comment.created %>
      </div>
    </header>
    <section class="m2c-comment-body">
        <%= comment.comment %>
    </section>
    <% if (data.user || data.replies[comment.id]) { %>
      <footer class="m2c-comment-footer">
        <% if (comment.authorId && !comment.approved && !comment.authorTrusted) { %>
          <div class="m2c-comment-actions">
            <% if (data.user && data.user.admin) {
            ['approve', 'reject'].forEach((action) => { %>
              <button class="m2c-button m2c-admin-action m2c-<%= action %>" data-target="<%= comment.id %>" data-class="comment" data-action="<%= action %>">
                <i class="icon m2c-icon-<%= action %>"></i>
                <span>
                  <%= action %>
                </span>
              </button>
            <% }); } %>
            <span class="m2c-needs-admin-action">
              <%= data.user && data.user.admin ?
                data.partials.AdminApproval :
                data.partials.WaitingForApproval
              %>
            </span>
          </div>
        <% } else if (data.user) { %>
          <div class="m2c-reply-to-comment">
            <button class="m2c-button m2c-reply" data-reply-to="<%= comment.id %>">
              <i class="icon m2c-icon-reply"></i>
              <span>
                <%= data.partials.Reply %>
              </span>
            </button>
          </div>
        <% } %>
        <div class="m2c-replies">
          <% if (data.replies[comment.id]) {
            data.comments = data.replies[comment.id]; %>
            <%= data.comments_tpl(data) %>
          <% } %>
        </div>
      </footer>
    <% } %>
  </article>
<% }) %>
