<div class="m2c-wrapper">
  <div class="m2c-header">
    <% if (data.user) { %>
      <div class="m2c-login-wrapper">
        <div class="m2c-login-status">
          <span>
              <%= data.partials.LoginStatus.replace('%USER%', '</span><span class="m2c-user">' + data.user.name + '</span><span>') %>
          </span>
        </div>
        <div class="m2c-add-comment-wrapper">
          <button class="m2c-button m2c-add-comment">
            <i class="icon m2c-icon-add-comment"></i>
            <span>
              <% if (data.comments.length) { %>
                <%= data.partials.Add %>
              <% } else { %>
                <%= data.partials.FirstAdd %>
              <% } %>
            </span>
          </button>
        </div>
        <div class="m2c-signout-wrapper">
          <button class="m2c-button m2c-signout">
            <i class="icon m2c-icon-signout"></i>
            <span>
              Log out
            </span>
          </button>
        </div>
      </div>

      <% if (data.user.admin) { %>
        <div class="m2c-admin-header">
          <button class="m2c-button m2c-mute" style="display: none">
            <i class="icon m2c-icon-mute"></i>
            <span>
              <%= data.partials.Mute %>
            <span>
          </button>
          <button class="m2c-button m2c-unmute" style="display: none">
            <i class="icon m2c-icon-unmute"></i>
            <span>
              <%= data.partials.UnMute %>
            </span>
          </button>
        </div>
      <% } %>

      <div class="m2c-new-comment">
        <article class="m2c-form">
          <header class="m2c-form-header">
            <div class="m2c-form-header-text">
              <span>
                You can use Markdown to write your comment.
              </span>
            </div>
          </header>
          <section class="m2c-form-body">
            <textarea class="m2c-form-edit" rows="20" placeholder="<%= data.partials.CommentPlaceholder %>"></textarea>
            <div class="m2c-form-preview" style="display:none">
            </div>
          </section>
          <footer class="m2c-form-footer">
            <button class="m2c-button m2c-preview">
              <i class="icon m2c-icon-preview"></i>
              <span>
                <%= data.partials.Preview %>
              </span>
            </button>
            <button class="m2c-button m2c-edit" style="display:none">
              <i class="icon m2c-icon-edit"></i>
              <span>
                <%= data.partials.Edit %>
              </span>
            </button>
            <button class="m2c-button m2c-post">
              <i class="icon m2c-icon-post"></i>
              <span>
                <%= data.partials.SendComment %>
              </span>
            </button>&nbsp;
            <button class="m2c-button m2c-cancel">
              <i class="icon m2c-icon-cancel"></i>
              <span>
                <%= data.partials.Cancel %>
              </span>
            </button>
          </footer>
        </article>
      </div>
    <% } else { %>
      <div class="m2c-signin-wrapper">
        <div class="m2c-signin-label">
          <% if (data.comments.length) { %>
            <%= data.partials.SignInVia %>
          <% } else { %>
            <%= data.partials.FirstSignInVia %>
          <% } %>
        </div>
        <div class="m2c-signin-button-wrapper">
          <% data.auth.forEach((provider, i) => {  %>
            <%= i ? data.partials.Or : '' %>
            <button class="m2c-button m2c-signin m2c-<%= provider.id %>">
              <i class="icon m2c-icon-<%= provider.id %>"></i>
              <span>
                <%= provider.name %>
              </span>
            </button>
          <% }) %>
        </div>
      </div>
    <% } %>
  </div>

<%
  const comments = [];
  data.replies = {};
  data.comments.forEach((comment) => {
    if (comment.replyTo) {
      if (!data.replies[comment.replyTo])
      {
        data.replies[comment.replyTo] = [];
      }
      data.replies[comment.replyTo].push(comment);
    } else {
      comments.push(comment);
    }
  });
  data.comments = comments;
%>
<% if (data.comments.length) { %>
  <div class="m2c-comments">
    <%= data.comments_tpl(data) %>
  </div>
<% } %>
</div>

<style type="text/css">
  .m2c-admin-action > * { pointer-events: none; }
</style>
