<div class="my2cents-wrapper">
  <div class="my2cents-header">
    <% if (data.user) { %>
      <div class="my2cents-login-wrapper">
        <div class="my2cents-login-status">
          <span>
              <%= data.partials.LoginStatus.replace('%USER%', '</span><span class="my2cents-user">' + data.user.name + '</span><span>') %>
          </span>
        </div>
        <div class="my2cents-signout-wrapper">
          <button class="my2cents-button my2cents-signout">
            <i class="icon my2cents-icon-signout"></i>
            <span>
              Log out
            </span>
          </button>
        </div>
      </div>

      <% if (data.user.admin) { %>

        <div class="my2cents-admin-header">
          <button class="my2cents-button my2cents-admin-action my2cents-unmute" data-target="notification" data-class="setting" data-action="true">
            <i class="icon my2cents-icon-unmute"></i>
            <span>
              <%= data.partials.UnMute %>
            </span>
          </button>
          <button class="my2cents-button my2cents-admin-action my2cents-mute" data-target="notification" data-class="setting" data-action="false">
            <i class="icon my2cents-icon-mute"></i>
            <span>
              <%= data.partials.Mute %>
            <span>
          </button>
        </div>

      <% } %>

      <div class="my2cents-new-comment">
        <div class="my2cents-form">
          <textarea class="my2cents-body" placeholder="<%= data.partials.PostComment %>"></textarea>
          <blockquote class="my2cents-body" style="display:none"></blockquote>
          <div class="my2cents-form-buttons">
            <button class="my2cents-button my2cents-preview">
              <i class="icon my2cents-icon-preview"></i>
              <span>
                <%= data.partials.Preview %>
              </span>
            </button>
            <button class="my2cents-button my2cents-edit" style="display:none">
              <i class="icon my2cents-icon-edit"></i>
              <span>
                <%= data.partials.Edit %>
              </span>
            </button>
            <button class="my2cents-button my2cents-post">
              <i class="icon my2cents-icon-post"></i>
              <span>
                <%= data.partials.SendComment %>
              </span>
            </button>&nbsp;
            <button class="my2cents-button my2cents-cancel" style="display:none">
              <i class="icon my2cents-icon-cancel"></i>
              <span>
                <%= data.partials.Cancel %>
              </span>
            </button>
          </div>
        </div>
      </div>

    <% } else { %>
      <div class="my2cents-signin">
        <%= data.partials.SignInVia %>
        <br>
        <% data.auth.forEach((provider, i) => {  %>
          <%= i ? data.partials.Or : '' %>
          <button class="my2cents-button my2cents-signin my2cents-<%= provider.id %>">
            <i class="icon my2cents-icon-<%= provider.id %>"></i>
            <span>
              <%= provider.name %>
            </span>
          </button>
        <% }) %>
      </div>
    <% } %>
  </div>

<%
  const comments = [];
  data.replies = {};
  data.comments.forEach((comment) => {
    if (comment.replyTo) {
      if (!data.replies[comment.replyTo])
      {
        data.replies[comment.replyTo] = [];
      }
      data.replies[comment.replyTo].push(comment);
    } else {
      comments.push(comment);
    }
  });
  data.comments = comments;
%>
  <div class="my2cents-comments">
    <%= data.comments_tpl(data) %>
  </div>
</div>

<style type="text/css">
  .my2cents-admin-action > * { pointer-events: none; }
</style>
